#headerContainer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pfp {
  display: block;
  margin: auto;
  max-width: 40%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0px 6px 5px #ccc;
}

.sub-desc {
  font-size: 1.2em;
}

h1 {
  font-size: 3.4em;
  font-family: 'Space Mono';
}

span {
  white-space: pre;
}

#name {
  color: rgb(121, 170, 121);
}

#college {
  color: red;
}